.input__label {
	display: block;
	margin-bottom: 0.5rem;
	color: var(--input-text);
}

.input {
	border-radius: 6px;
	border: 1px solid var(--input-border);
	background-color: var(--input-background);
	color: var(--input-text);
}

/* limit minimum size */

@media (max-width: 420px) {
	.input { 
		max-width: 80vw;
	}
}
