.footer {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 2rem;
	padding-right: 2rem;
	background-color: var(--footer);
	color: var(--footer-text);
	/* show footer color until bottom of screen */
	box-shadow: 0 100vh 0 100vh var(--footer);
}

.footer__social {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.footer__text {
	align-self: start;
}

.footer__icons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.footer__icon {
	cursor: pointer;
  height: 4rem;
	margin-right: 1.8rem;
	transition-property: filter;
	transition-duration: 0.2s;
}

.footer__icon:hover {
	filter: invert(30%);
}

/* limit minimum size */

@media (max-width: 420px) {
	.footer__icon { height: 40px; }
}

@media (max-width: 270px) {
	.footer {
		flex-direction: column;
	}
}
