.notification {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 20%;
	right: 0;
	padding-top: 2rem;
	padding-bottom: 2rem;
	padding-left: 2rem;
	padding-right: 2rem;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

.notification__title {
	font-size: 2rem;
	font-weight: bold;
}

.notification__message {
	margin-top: 1.2rem;
	margin-bottom: 2rem;
	max-width: 20vw;
	min-width: 100px;
}

/* limit minimum size */

@media (max-width: 420px) {
	.notification__title {
		font-size: 20px;
	}
}

/* animate entrance */

@media (prefers-reduced-motion: no-preference) {
  .notification {
		animation-name: notification-in;
		animation-timing-function: ease-out;
		animation-duration: 0.5s;
		animation-delay: 0s;
		animation-iteration-count: 1;
		animation-fill-mode: none;
  }
}

@keyframes notification-in {
	from   {
		transform: translate(100%,0);
		opacity: 0;
	}
	to  {
		transform: translate(0,0);
		opacity: 1;
	}
}
