@import './content/Landing/Landing.css';

@import './components/Header/Header.css';
@import './components/ConnectMetamask/ConnectMetamask.css';
@import './components/Nav/Nav.css';
@import './components/Button/Button.css';
@import './components/ModalWrapper/ModalWrapper.css';
@import './components/ModalOk/ModalOk.css';

.app {
	height: 100vh;
	width: 100vw;
	display: grid;
}

/* SIDE NAV LAYOUT */
/* .app {
	grid-template-areas: "header header"
											 "nav main";
	grid-template-columns: 5rem 1fr;
	grid-template-rows: 4rem 1fr;
} */

/* TOP NAV LAYOUT */
.app {
	grid-template-areas: "header"
											 "nav"
									 		 "main";
	grid-template-columns: 1fr;
	grid-template-rows: 4rem 2rem 1fr;
}


/* FORCE TOP NAV IF SMALL SCREEN */
@media (max-width: 900px) { /*SVGA*/
	.app {
		grid-template-areas: "header"
												 "nav"
												 "main";
		grid-template-columns: 1fr;
		grid-template-rows: 4rem 2rem 1fr;
	}
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
