@import './pages/Landing/Landing.css';
@import './pages/ErrorNotFound/ErrorNotFound.css';
@import './pages/Error/Error.css';

@import './components/Header/Header.css';
@import './components/Header/ConnectMetamask/ConnectMetamask.css';
@import './components/Nav/Nav.css';
@import './components/Footer/Footer.css';
@import './components/Footer/Contacts/Contacts.css';

@import './components/ModalContainer/ModalContainer.css';
@import './components/ModalContainer/provider/ModalChainNotAdded/ModalChainNotAdded.css';
@import './components/ModalContainer/provider/ModalDisabled/ModalDisabled.css';
@import './components/ModalContainer/provider/ModalDisconnected/ModalDisconnected.css';
@import './components/ModalContainer/provider/ModalNotConnected/ModalNotConnected.css';
@import './components/ModalContainer/provider/ModalSelectChain/ModalSelectChain.css';
@import './components/ErrorNotification/ErrorNotification.css';

@import './components/UI/Button/Button.css';
@import './components/UI/Input/Input.css';
@import './components/UI/ValidationRules/ValidationRules.css';

.app {
	display:flex;
	flex-direction: column;
	height: 100vh;
	width: 100%;
}
