.modal-container {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	z-index: 1;
}

.modal {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem 2rem;
	border-radius: 12px;
	text-align: center;
	background: var(--modal);
	color: var(--modal-text);
}

.modal__content {
	max-width: 60vw;
}

.modal__text {
	margin-bottom: 2rem;
}

.modal__anchor--text {
	margin-bottom: 2rem;
	display: inline-block;
}
