.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 2rem;
	padding-right: 2rem;
	border-bottom: 1px solid;
	border-color: var(--header-detail);
	background-color: var(--header);
	color: var(--header-text);
}

.header__title {
	font-size: 2rem;
	margin-right: 2rem;
}

.header__logo {
	height: 5rem;
	margin-right: 2rem;
}

/* limit minimum size */

@media (max-width: 420px) {
	.header__title { font-size: 22px; }
	.header__logo { height: 80px; }
}
