.error-page-404 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 1rem;
  /* make page fill entire screen */
	/* will break if content overflows viewport height */
	height: 100%;
}

.error-page-404__text {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.error-page-404___img {
	height: 18rem;
	max-height: 300px;
}

@media(max-width: 420px) {
	.error-page-404___img {
		height: 120px;
	}
}
