.text-input__wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
}

.text-input {
	width: 100%;
	padding: 0.5rem;
	border-radius: 6px;
	border: 1px solid var(--input-border);
	background-color: var(--input-background);
	color: var(--input-text);
}

.text-input__label {
	display: block;
	margin-bottom: 0.5rem;
	color: var(--input-text);
}

.text-input--invalid {
	border: 1px solid var(--input-invalid);
}

.text-input__required {
	display: block;
	color: var(--input-text);
}

.text-input-1of2 {
	width: 50%;
}

.text-input-1of4 {
	width: 25%;
}

.text-input-1of8 {
	width: 12.5%;
}

.text-input-1of16 {
	width: 6.25%;
}

/* limit minimum size */

.text-input {
	min-width: 60px;
}
